fastapi
uvicorn
sqlalchemy
pydantic
bcrypt
python-dotenv
python-jose[cryptography]
email_validator
pydantic_settings
passlib[argon2]
python-multipart
openai
google-auth
requests
sendgrid
argon2_cffi
psycopg2
alembic